<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='form.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='result.css') }}"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="center">
        <div class="title-section">
          <h1 class="main-heading">
            Rank your <span class="heading-part">Skills</span> using
            <span class="heading-part">SkillMatcher</span>
          </h1>
        </div>

        <div class="job-description glass-card">
          <h1 class="job-description-heading">Job Description</h1>
          <p class="job-description-paragraph">
            An AI Engineer responsible for developing and deploying artificial
            intelligence solutions using frameworks like
            <strong>TensorFlow</strong>, <strong>Keras</strong>, and
            <strong>PyTorch</strong>. They design, train, and optimize models
            using <strong>scikit-learn</strong>, apply techniques such as
            <strong>RAG</strong> to enhance accuracy, and build generative AI
            applications that automate tasks, analyze data, and deliver
            intelligent insights across industries.
          </p>
        </div>
      </div>

      {% block content %}{% endblock %}
    </div>
  </body>
</html>
